{% extends "base.html" %}

{% block titulek %}
  {{ canteen.Name }}
{% endblock %}

{% block menu %}
<div class="ui-bar ui-bar-c">
				<div class="ui-corner-all ui-controlgroup ui-controlgroup-horizontal">
					<a n:href="Jidelnicek:menza $id" class="ui-btn ui-btn-inline ui-btn-icon-left ui-corner-right ui-corner-left ui-btn-up-c">
						<span class="ui-btn-inner ui-corner-left" aria-hidden="true">
							<span class="ui-btn-text">Aktualizovat</span>
							<span class="ui-icon ui-icon-refresh ui-icon-shadow"></span>
						</span>
					</a>
				</div><!-- /controlgroup -->
			</div>
{% endblock %}

{% block zpet %}
<a href="/" data-icon="back" data-iconpos="notext" data-direction="reverse" class="ui-btn-right ui-btn ui-btn-up-a ui-btn-icon-notext ui-btn-corner-all ui-shadow" title="Zpět" data-theme="a"><span class="ui-btn-inner ui-btn-corner-all" aria-hidden="true"><span class="ui-btn-text">Zpět</span><span class="ui-icon ui-icon-back ui-icon-shadow"></span></span></a>
{% endblock %}

{% block content %}

<p>{{ canteen.Address }}</p>
<ul class="ui-listview ui-listview-inset ui-corner-all ui-shadow">

{% for dayMenu in menu %}
    
	<li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-btn ui-bar-b ui-li-has-count ui-btn-up-undefined">
		{{ dayMenu[0] }}
		 <!--span class="ui-li-count ui-btn-up-c ui-btn-corner-all">3</span-->
	</li>  
  {% for dish in dayMenu[1] %}
		<li class="ui-li ui-li-static ui-body-c ui-li-has-count">
			{% if dish.StudentPrice != '0.00' %}
			<p class="ui-li-aside ui-li-desc">
					{{ dish.StudentPrice }} Kč
			{% endif %}
			{% if dish.FullPrice != '0.00' %}
					<span style="font-size: 75%"> / {{ dish.FullPrice }} Kč</span>
			</p>
      {% endif %}
		    <div style="font-weight: normal; width: 20px; float: left">
                {% if dish.Order != 0 %}
                    {{ dish.Order }}.
                    {% else %}
                    &nbsp;
                {% endif %}
            </div> {{ dish.Name }}
            {% if dish.Weight != None %}
                <span style="font-size: 75%">({{ dish.Weight }})</span>
            {% endif %}
		</li>
	{% endfor %}
{% endfor %}
</ul>
<br />
{% endblock %}

{% block head %}
<style>
.sold
{
	color: grey;
}
</style>
{% endblock %}