{% extends "base.html" %}


{% block titulek %}
Menzy - jídelníček
{% endblock %}

{% block menu %}
<div class="ui-bar ui-bar-c">
				<div class="ui-corner-all ui-controlgroup ui-controlgroup-horizontal">
        	<a href="/requestSync" class="ui-btn ui-btn-inline ui-btn-icon-left ui-corner-right ui-corner-left ui-btn-up-c">
						<span class="ui-btn-inner ui-corner-left" aria-hidden="true">
							<span class="ui-btn-text">aktualizovat jídelní lístky</span>
							<span class="ui-icon ui-icon-refresh ui-icon-shadow"></span>
						</span>
					</a>
        
				</div><!-- /controlgroup -->
			</div>
{% endblock %}

{% block content %}


      <ul id="seznam" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">

      {% for canteen in canteens %}

	<li></li>
	<li id="m{{ canteen.Id }}" data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c">
		<div class="ui-btn-inner ui-li" aria-hidden="true">
			<div class="ui-btn-text">
				<a href="/menu?canteen={{ canteen.Id }}" class="ui-link-inherit">
					<h3 class="ui-li-heading">{{ canteen.Name }}</h3>
					<p class="ui-li-desc">{{ canteen.Address }}</p>
				</a>
			</div>
			<span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
		</div>
	</li>
{% endfor %}
</ul>


{% endblock %}